.card{
    margin: 50px 100px 100px 100px;
    border:2px solid rgb(194, 193, 193) ;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow:10px 10px 10px grey;
   
}
.img{
    width: 100%;
    height: auto;
}
.padd{
    padding: 15px;
}
button{
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}
h1{
    margin:0;
}
p{
    text-align: justify;
}